/*!Edited by Evie Larson December 17, 2021*/
.sumprof{
    size-adjust: 100px;
}

.homeback{
    color: darkolivegreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: inherit;
}

.par{
    font-family: monospace;
    font-weight: bolder;
    color: darkolivegreen;
}
.foot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: monospace;
    font-weight: bolder;
    font-style: italic;
}
.bod{
    background-color: lightgray;
}
